<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="main">
        <h1>OptiMaze</h1>
        <div class="buttons-container">
            <a class="button" href="/play">
                <button>Jogar</button>
            </a>
            <a class="button" href="/instructions">
                <button>Instruções</button>
            </a>
        </div>
    </div>
</body>
</html>