<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="main">
        <h1>OptiMaze</h1>
        <p>
            O jogo se trata de um labirinto que o próprio usuário desenha e escolhe os pontos de saída e de chegada.
            Para jogar siga os passos: </br></br>
    
            1. Escolha o ponto A (saída) clicando em um ponto do labirinto.</br>
            2. Escolha o ponto B (chegada) clicando em um ponto do labirinto.</br>
            3. Desenhe as paredes clicando em diferentes pontos do labirinto.</br>
            4. Dê play e a aplicação descobrirá como atravessar o labirinto do ponto A até o ponto B.</br>
        </p>
        <div class="buttons-container">
            <a class="button" href="/">
                <button>Menu</button>
            </a>
            <a class="button" href="/play">
                <button>Jogar</button>
            </a>
        </div>
    </div>
</body>
</html>