<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<!-- <body>
    <div class="play">
        <div class="guide">
            <p class="message"></p>

            <div class="buttons-container">
                <a class="button" href="/">
                    <button>Play</button>
                </a>
                <a class="button" href="/">
                    <button>Menu Principal</button>
                </a>
                <a class="button" href="/instructions">
                    <button>Instruções</button>
                </a>
            </div>
        </div>
    
        <div class="game">
            <table>
            </table>
        </div>
    </div>
    <script src="graph/Node.js"></script>
    <script src="graph/Graph.js"></script>
    <script src="index.js"></script> -->

    <body style="background: green; margin: 20">
		<canvas id="grid" width="600" height="600"></canvas>
		<br>
		<script src="graph/mapper.js"></script>
		<script src="graph/graph.js"></script>
		<script src="graph/graphics.js"></script>
		<script>
			var mapper = new Mapper(10);

			var grid = new Grid("grid",600);
			grid.draw(10);
			function solve() {
				var start = grid.getStart();
				var end = grid.getEnd();
				mapper.skips = grid.getSkips();
				var map = mapper.buildMap(true);

				var dijkstra = new Graph(map);
				var solution = dijkstra.findPath(start,end);
				if(solution != undefined){
					grid.drawSolution(solution);
				} else {
					alert("Nao há solução");
				}
				//console.log(solution);
			}
            </script>
            
		<button onclick="solve()">Solução</button>

</body>
</html>
