<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="play">
        <div class="guide">
            <p class="message"></p>

            <div class="buttons-container">
                <a class="button" onclick="solve()">
                    <button>Play</button>
                </a>
                <a class="button" href="/">
                    <button>Menu Principal</button>
                </a>
                <a class="button" href="/instructions">
                    <button>Instruções</button>
                </a>
            </div>
        </div>
    
        <div class="game">
            <canvas id="grid" width="600" height="600"></canvas>
        </div>
    </div>
    <script src="graph/Graph.js"></script>
    <script src="graph/mapper.js"></script>
	<script src="graph/graphics.js"></script>
    <script src="index.js"></script>
</body>
</html>
